# Much of the following is derived from: https://github.com/atom/language-csharp/blob/fba368a8397e298fa78679b4ee0a542b2474c150/scoped-properties/language-csharp.cson
'.source.powershell':
  'editor':
    'commentStart': '#'
    'foldEndPattern': '^\\s*\\}|^\\s*\\]|^\\s*\\)'
    'increaseIndentPattern': '(?x)
      ^ .* \\{ [^}"\']* $
      | ^ .* \\( [^)"\']* $
      | ^ \\s* \\{ \\} $
      | ^ \\s* \\( \\) $
      '
    'decreaseIndentPattern': '(?x)
      ^ (.*\\*/)? \\s* [\\}\\)] ( [^}{"\']* [\\{\\(] | \\s* while \\s* \\( .* )? [;\\s]* (//.*|/\\*.*\\*/\\s*)? $
      '
